@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-color: #97bf10;
}

.bg-pri {
  background-color: var(--pri-color);
}

.control-arrow {
  @apply h-16 top-1/4 w-24 !important;

  background-color: var(--pri-color);
}

.control-arrow::after {
  @apply text-white text-lg;

  content: '▶';
}

.control-prev::after {
  content: '◀';
}

.control-arrow:first-of-type {
  @apply rounded-r-full;
}

.control-disabled {
  background-color: #efefef;
}

.control-next {
  @apply rounded-l-full;
}

.mobile {
  width: 100%;
}

.carousel .control-next.control-arrow::before {
  @apply border-l-black !important;
}

.carousel .control-prev.control-arrow::before {
  @apply border-r-black !important;
}

.carousel,
.carousel-slider {
  display: flex !important;
  align-items: center;
}

.slider-wrapper {
  overflow: hidden;
  width: calc(100% - 12rem) !important;
}

.slider {
  display: flex !important;
}

.slide {
  min-width: 17rem !important;
  margin: 0 1.5rem !important;
}

.slide:first-of-type {
  margin-left: 0 !important;
}

.slide img {
  width: 17rem !important;
  height: 17rem !important;
}

.image-wrapper {
  width: 20rem;
  height: 20rem;
}

.i-wrap {
  height: 20rem;
}

.round {
  height: 16rem;
  width: 16rem;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .image-wrapper {
    width: 17rem;
    height: 17rem;
  }

  .i-wrap {
    height: 17rem;
  }
}
