@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-color: #ff5518;
  --sec-color: #efefef;
  --ter-color: #b94010;
  --side-color: #f8f5fa;
}

.b-pri {
  border-color: var(--pri-color);
}

.bg-pri {
  background-color: var(--pri-color);
}

.bg-ter {
  background-color: var(--ter-color);
}

.bg-side {
  background-color: var(--side-color);
}

.carousel,
.carousel-slider {
  display: flex !important;
  align-items: center;
}

.ch {
  height: calc(100vh - 2rem);
}

.slider {
  display: flex !important;
  justify-content: start;
  padding-left: 1rem;
}

.slider-wrapper {
  width: 100%;
}

.slide {
  min-width: 84% !important;
  margin: 0 0.4rem !important;
}

.slide:last-of-type {
  margin-right: 2rem !important;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .image-wrapper {
    width: 17rem;
    height: 17rem;
  }

  .i-wrap {
    height: 15rem;
  }

  .control-arrow {
    @apply h-16 top-1/4 w-24 !important;

    background-color: var(--pri-color);
  }

  .control-arrow::after {
    @apply text-white text-lg;

    content: '▶';
  }

  .control-prev::after {
    content: '◀';
  }

  .control-arrow:first-of-type {
    @apply rounded-r-full;
  }

  .control-disabled {
    background-color: var(--sec-color);
  }

  .control-next {
    @apply rounded-l-full;
  }

  .carousel .control-next.control-arrow::before {
    @apply border-l-black !important;
  }

  .carousel .control-prev.control-arrow::before {
    @apply border-r-black !important;
  }

  .carousel,
  .carousel-slider {
    display: flex !important;
    align-items: center;
  }

  .slider-wrapper {
    overflow: hidden;
    width: calc(100% - 12rem) !important;
  }

  .slider {
    display: flex !important;
    justify-content: start;
  }

  .slide {
    min-width: 30% !important;
    margin: 0 0.9rem !important;
  }

  .slide:first-of-type {
    margin-left: 0.4rem !important;
  }

  .slide img {
    width: 100% !important;
    height: auto !important;
  }
}
